
<table class="table table-inverse">

  <thead>
    <tr>
      <th>地震地區</th>
      <th>類別</th>
      <th>時間</th>
      <th>修改內容</th>
      <th>刪除</th>
    </tr>
  </thead>
  <tbody>

    <% @events.each do |e|%>
    <tr>
      <td><%= link_to e.name, event_path(e)%></td>
      <td><%= e.category.try(:name)%></td>
      <td><%= e.created_at%></td>
      <td><%= link_to "修改內容", edit_event_path(e),:class=>"btn btn-primary"%></td>
      <td><%= link_to "刪除", event_path(e),:method => :delete,:class=>"btn btn-danger"%></td>
    </tr>
  <% end %>
  </tbody>
</table>
<ul class="pager">
  <li><%= paginate @events%></li>
</ul>
