<!DOCTYPE html>
<html>
  <head>
    <title>地震應變中心</title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
          <div class="col-sm-12">
            <%if flash[:notice].present?%>
              <div class="alert alert-success" role="alert">
                <p style="color: green"><%=flash[:notice] %></p>
              </div>
          </div>
          <%end%>
          <div class="col-sm-12">
            <%if flash[:alert].present?%>
              <div class="alert alert-danger" role="alert">
                <p style="color: red"><%=flash[:alert] %></p>
              </div>
            <%end%>
          </div>

          <h2><%= link_to"地震應變中心",events_path %></h2>
              <nav class="navbar navbar-default" role="navigation">

                <!-- 左選單 -->
                <ul class="nav navbar-nav">
                  <li><%= link_to "所有地震災情",events_path%></li>
                  <li><%= link_to "新增災情",new_event_path%></li>
                </ul>



                <!-- 右選單 -->
                <ul class="nav navbar-nav navbar-right">

                  <% if current_user %>
                    <li><%= current_user.try(:short_name)%> 你好</li>
                    <li><%= link_to('登出', destroy_user_session_path, :method => :delete) %></li>
                    <li><%= link_to('修改密碼', edit_registration_path(:user)) %></li>
                  <% else %>
                    <li><%= link_to('註冊', new_registration_path(:user)) %> </li>
                    <li><%= link_to('登入', new_session_path(:user)) %></li>
                  <% end %>

                </ul>
              </nav>
    <%= yield %>
    </div>
  </body>
</html>
